@import "src/app/common.styles.scss";

.body-container-dashboard{
    padding: 30px;
    margin: 50px 120px 60px 100px;
    background-color: rgb(236, 243, 223);
    border-radius: 6px;
    min-height: 480px;
}